* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
main {
    min-height: 90vh;
    padding: 50px;
}

.bg-success {
    background-color: #20c997 !important;
}

.list {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: scroll;
}

.accordion {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-mine {
    background-color: #f3f2ef !important;
}
.radius-1 {
    border-radius: 10px !important;
}
.mar-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.height-v90 {
    min-height: 90vh;
}

.max-width {
    width: 100%;
}
